* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-primary);
}

body {
  background: var(--background);
}

ul,
ol, a {
  list-style: none;
}

a {
  text-decoration: none;
}
